@import "@/styles/colors.module.scss";

.howWillHelp{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  h2{
    text-transform: uppercase;
    width: 700px;
    font-size: 42px;
    text-align: center;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.04em;


    span{
      color: $lightRed;
      white-space: nowrap;
    }
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
  }
}

@media (max-width: 1000px){
  .howWillHelp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px; 
  }
  .content{
    h2{
      max-width: 595px;
      width: 100%;
      font-size: 37px;
    }
  }
}
@media (max-width: 510px){
  .content{
    h2{
      font-size: 26px;
      line-height: 30px;
      span{
        font-size: 32px;
      }
    }
  }
}