@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800&display=swap');
@import "@/styles/colors.module.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: #fff;
  ::selection{
    color: $lightRed;
    background-color: #fff;
  }
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 0px 120px;
  max-width: 1200px;
  width: 100%;
}

.btn{
 text-decoration: none; 
 font-size: 24px;
 font-weight: 600;
 border: 2px solid $lightRed;
 padding: 20px 40px;
 border-radius: 42px;
 background-color: rgba(0, 0, 0, 0.607);
 transition: 0.6s;

 &:hover{
  color: $lightRed;
  border-color: #fff;
 }
}

::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: $lightRed;
  border-radius: 20px;
}

@media (max-width: 1000px){
  .container{
    margin: 100px 35px 0px 35px;
  }
  .btn{
    font-size: 20px;
    padding: 16px 30px;
    border-radius: 42px;
  }
}

@media(max-width: 500px){
  .container{
    margin: 100px 15px 0px 15px;
  }
  .btn{
    font-size: 18px;
    padding: 14px 20px;
    border-radius: 42px;
  }
}
@media(max-width: 500px){
  .btn{
    font-size: 14px;
    padding: 12px 18px;
    font-weight: 400;;
  }
}



